<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
  <title>Bootstrap hero banner</title>
</head>

<body>
  <nav th:if="${isLoggedIn}" class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a th:if="${role} != 'ADMIN'" class="navbar-brand" href="#" th:href="@{/reservations}">My reservations</a>
        <a th:if="${role} == 'ADMIN'" class="navbar-brand" href="#" th:href="@{/reservations/all}">All reservations</a>
        <a th:if="${role} == 'ADMIN'" class="navbar-brand" href="#" th:href="@{/users/all}">All users</a>
        <a th:if="${role} == 'ADMIN'" class="navbar-brand" th:href="@{/courts}">Courts</a>
        <a class="navbar-brand" href="#" th:href="@{/logout}">Logout</a>
      </div>
    </div>
  </nav>

  <nav th:unless="${isLoggedIn}" class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" th:href="@{/login}">Login</a>
        <a class="navbar-brand" href="#" th:href="@{/registration}">Registration</a>
      </div>
    </div>
  </nav>



<main role="main">
  <div th:style="'background-image:url(' + @{/img/banner2.jpg} + ');
  background-repeat: no-repeat; background-size: cover; height: 340px; background-attachment:
  scroll; padding-top: 100px'">
    <div class="container">
      <h1 class="display-4" style="color: white;">LA Tennis Courts</h1>
    </div>
  </div>

  <div class="container" style="padding-top: 48px">
    <div class="row">
      <div class="col-md-4">
        <h2>Contact & Pricing</h2>
        <p>
        <h6> Address: </h6> Českých bratří 512, Lanškroun
        </p>
        <p>
        <h6> Email: </h6> lacourtsinfo@gmail.com
        </p>
        <p>
        <h6> Phone number:</h6> 789 651 111
        </p>
        <p>
        <h6> Price per hour:</h6> 250 Kč
        </p>
        <p>
          <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41105.80194698822!2d16
                  .558654475037557!3d49.91546105
6304814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470df7673e7db583%3A0x993448910f716a2c!2sTenis%20Lan%C5%A1kr
oun!5e0!3m2!1scs!2scz!4v1651222606655!5m2!1scs!2scz" width="360" height="300" style="border:0;" allowfullscreen=""
                  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>

      </div>
      <div class="col-md-4">
        <h2>Business hours</h2>
        <p>Monday to Friday 8:00 am to 18:00 pm</p>

      </div>
      <div class="col-md-4">
        <h2>Book a court</h2>
        <p style="display: inline-block">There are 3 courts available, to create and manage your reservations you need to
          <a th:href="@{/registration}">create an account</a> first.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
<footer class="container">
  <p>&copy; CsharkCompany 2022</p>
</footer>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      </form>
    </div>
  </div>
</div>
</body>
</html>